/* Add CSS Styling */

.p {
    background-color: pink;
    font-family: "Verdara", "Dejavu Sans", sans-serif;
}

#id1 {
    color: blue;
    font-size: 36px;
}

.p.cooler {
    font-size: 24px;
}

#id2 {
    background-color: greenyellow;
    font-size: 24px;
    font-weight: bold;
}